:root {
	--color-gray:#5D5D5D;
	--color-orange:#FF8000;
}
/* =======
Font Sizes
======= */

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 22px;
  }
}

@media screen and (min-width: 1920px) {
  html {
    font-size: 24px;
  }
}

@media screen and (min-width: 2560px) {
  html {
    font-size: 26px;
  }
}

@media screen and (min-width: 3000px) {
  html {
    font-size: 28px;
  }
}

@media screen and (min-width: 3500px) {
  html {
    font-size: 30px;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

input {
	font-size: inherit;
}

/* ================
Responsive behaviour
================ */

@font-face {
	font-family: "newAlphabet";
	src: url('/assets/NewAlphabet.ttf');
}

@media screen and (max-width: 700px) {
	#portrait {display: none;}
	.publicationDiams {display: none;}
}

@media screen and (max-width: 1000px) {
	.menu a {
		display: block;
		width: 100%;
		margin: 0;
		padding: 5px 0;
	}
	html {
		padding: 0;
	}
	main {
		padding: 10px 20px 20px;
	}
	#detail-wrap {
		padding: 10px 20px;
	}
	#newscontent {
		padding: 10px 20px;
	}
	.publicationText {
		padding: 5px 20px 5px 5px;
	}
	.publicationButtons div {
		display: block;
		margin: 5px 0;
	}
}

.publicationButtons {
	display: inline-block;
}

@media screen and (min-width: 1000px) {
	.menu a {
		float: left;
		margin: auto;
		padding: 14px 0;
		width: 20%;
	}
	html {
		padding-left: 7vw;
		padding-right: 7vw;
	}
	main {
		padding: 20px 50px 50px;
	}
	#detail-wrap {
		padding: 20px 50px;
	}
	#newsbox {
		display: flex;
	}
	#newscol {
		border-left: 2px solid var(--color-gray);
		flex: 25%;
	}
	#newscontent {
		flex: 70%;
		padding: 20px 50px;
	}
	.publicationText {
		padding: 5px 10px;
	}
	.publicationButtons {
		flex: 240px;
		flex-shrink: 0;
	}
	.publicationButtons div {
		float: left;
		margin: 0 5px;
	}
}

/* =============
Main page layout
============= */

html {
	margin: 0;
	background: #F0F0F0;
}

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

#banner {
    /*border-top: 10px solid var(--color-gray);*/
	background: white;
}

main {
	background: white;
	flex-grow: 1;
}

/* =============================
Header with the name and logo
============================= */

#detail-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#name-wrap {
	display: flex;
	flex-direction: column;
}

#banner-name {
	font-weight: bold;
	color: var(--color-gray);
	font-size: 350%;
	font-family: "newAlphabet", sans-serif;
	margin-right: 20px;
}

#banner-email {
	color: var(--color-orange);
	font-size: 120%;
}

#portrait {
	/*border-radius: 20px;*/
}

.portrait-wrap {
	display: flex;
}

.portrait-wrap img {
	display: block;
	margin-left: 30px;
}

/* ===
Titles
=== */

h1 {
	text-align: center;
	color: var(--color-gray);
	margin-top: 0;
}

h1 a {
	text-decoration: none;
	color: var(--color-gray);
}

h2 {
	text-align: left;
	color: var(--color-gray);
	padding: 5px 0 0;
	border-top: 3px solid var(--color-orange);
}

h2 a {
	text-decoration: none;
	color: var(--color-gray);
}

h3 {
	color: var(--color-gray);
	text-align: center;
}

/* ========
Header menu
======== */

.menu-wrap {
	width: 100%;
	color: white;
	border-top: 7px solid var(--color-gray);
	border-bottom: 7px solid var(--color-gray);
    display: inline-block;
}

.menu {
	width: 100%;
	overflow: auto;
	text-align: center;
	margin: 0;
}

/* Navigation links */
.menu a {
	transition:all linear 0.1s;
	text-decoration: none;
	color: var(--color-gray);
	font-size: 130%;
	text-align: center;
}

.menu a:hover {
	color: white;
	background:var(--color-orange);
}

/* ===========
Hyperref links
=========== */

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: var(--color-orange);
}

.link {
	color: var(--color-orange);
}

a.link::before {
  content: "⧉";
  font-size: 0.85em;
}

strong {
	text-decoration: none;
	color: var(--color-orange);
	font-style: normal;
	font-weight: normal;
}

/* =======
Index Page
======= */

.cards-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14vw, 1fr));
    gap: 20px;
	width: 80%;
}

.card-wrap {
    border: 1px solid var(--color-gray);
    text-align: center;
    box-shadow: 0 4px 6px black;
}

.card-image-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.card-image-wrap img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}

.card-title {
	font-weight: bold;
	color: var(--color-gray);
    padding: min(2vh, 2vw);
    margin: 0;
}

/* ==============
Publications Page
============== */

.publicationsBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
}

.publicationDiams {
	padding-right: 10px;
	font-size: 120%;
}

.publicationText {
}

.publicationText p {
	margin: 0;
	text-align: justify;
}

.publicationComment {
	font-size: 90%;
	font-style: italic;
}

.pdfButton {
	background-color: #33A70D;
	border-radius: 4px;
	padding: 6px;
	color: white;
	text-decoration: none;
}

.pdfButton a:hover {
	color: white;
}

.arxivButton {
	background-color: #b31b1b;
	border-radius: 4px;
	padding: 6px;
	color: white;
	text-decoration: none;
}

.arxivButton a:hover {
	color: white;
}

.publisherButton {
	background-color: #039be5;
	border-radius: 4px;
	padding: 6px;
	color: white;
	text-decoration: none;
}

.publisherButton a:hover {
	color: white;
}

.talkBox {
	margin-top: 20px;
}

.talkBox h2 {
	font-size: 115%;
}

.talkBox p {
	margin-top: 10px;
	margin-bottom: 0;
}

.talkBox table {
	width: 100%;
}

.talkBox p {
	line-height: 1.5;
}

.cvTable {
	width: 100%;
}

.cvTable td {
	padding: 5px;
}

.cvTable strong {
	margin-right: 5px;
}

.cvTable p {
	margin: 0;
}

.educYearCell {
	width: 140px;
}

.educYearCell p {
	text-align: center;
}

.changeFont-wrap {
	text-align: center;
}

.changeFont-wrap form {
	display: inline;
}

.changeFont-button input {
	display: inline;
	vertical-align: middle;
}

.videoWrapper { 
	position: relative;
	padding-bottom: 50.625%;
	margin-left: 5%;
	margin-right: 5%;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}